<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Movies Fragment</title>
</head>
<body>
<div>
	<h2 class="mb-5">Movie List</h2>

	<div class="x_content">
		<div id="docmodalholder"></div>
		<table class="table table-dark table-hover"
			   cellspacing="0" width="100%">
			<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Director</th>
				<th>Summary</th>
				<th>Genres</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="movie : ${movies}">
				<td><a th:href="@{/movie/view/{id}(id=${movie.getMovieid()})}" th:text="${movie.getMovieid()}">ID</a></td>
				<td th:text="${movie.getTitle()}">Title</td>
				<td th:text="${movie.getDirector()}">Title</td>
				<td th:text="${movie.getSummary()}">Title</td>
				<td th:text="${movie.getGenres()}">Genres</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

</div>
</body>
</html>
